<div class="container">
  <div class="row mt-2">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="filteredStatus">
      </div>

      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filteredStatus:'status'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | reverse }}</strong> | {{ server.instanceType | uppercase }} | {{ server.started | date:'mediumDate' }}
        </li>
      </ul>
    </div>
  </div>
</div>
